<div class="card card-related">
    <ul class="label">
        <li class="label_item label_item-1" style="background: url(assets/img/label-1.png) center center no-repeat;"></li>
    </ul>
    <a href="#" class="card_header">
        <div class="card_slider slider">
            <div class="slider_item" style="position: relative;">
                <img class="card_img" src="http://beta.darito.ru/upload/resize_cache/iblock/8cf/210_250_1/8cfd216231760e12f183013bd1922c8c.jpg"
                    alt="Card image cap">
            </div>
        </div>
    </a>
    <a href="#" class="card_body">
        <div class="card_sku">
            <span class="text">Артикул</span>
            <span class="value">041-0214</span>
        </div>
        <h4 class="card_title">Книга Гофман «Малое собрание сочинений»</h4>
        <div class="card_info">
            <span class="text">Цена</span>
            <div class="price">
                <span class="price_block price_block-disable">18 500</span>
                <span class="price_block price_block-discount" style="background: url(assets/img/discount.png) center center no-repeat;">-7%</span>
                <span class="price_block price_block-current"><span>6 300</span><span class="rubl">a</span></span>
            </div>
        </div>
    </a>
    <div class="card_footer">
        <a href="#" class="card_link card_link-txt">Подробнее</a>
        <a href="#" class="card_link card_link-fav">
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </a>
    </div>
</div>