.m-filter.filter
    form.form(action="/")
        .m-filter_b.toggle
            a(href="#").m-filter_toggle Фильтры
        .m-filter_b.select
            ul.m-filter_list.tags
                each val, index in [{name: 'Профессия', class: ''}, {name: 'Праздник', class: ''}, {name: 'Кому', class: ''}, {name: 'Праздник', class: ''}, {name: 'Кому', class: ''}, {name: 'Праздник', class: ''}, {name: 'Кому', class: ''}, {name: 'Праздник', class: ''}, {name: 'Кому', class: ''}, {name: 'Праздник', class: ''}, {name: 'Кому', class: ''}, {name: 'Праздник', class: ''}, {name: 'Кому', class: ''}]
                    - var id = index
                    li.m-filter_item(class=val.class)
                        .name.toggle
                            a.js-toggle(href="#")=val.name
                        .m-filter_list-wrap
                            .triangle
                            ul.filter_list
                                each val, index in ['Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному','Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному','Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному','Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному','Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному','Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному','Нефтянику']
                                    li.filter_item(data-attr="tag")
                                        input(id="mFilterLeft"+id+(index+1), type="checkbox", name="prof", value=val)
                                        label(for="mFilterLeft"+id+(index+1))=val
                each val in [{ name: 'Цена', class: 'm-filter_item--price'}]
                    li.m-filter_item(class=val.class)
                        .name.toggle
                            a.js-toggle(href="#")=val.name
                        .m-filter_list-wrap
                            .triangle
                            ul.filter_list
                                li.filter_item(data-attr="tag")
                                    .form_row
                                        .form_item
                                            label(for="mFilterLeft301") от
                                            input(id="mFilterLeft301", type="text", name="price", data-attr="от")
                                        .form_item
                                            label(for="mFilterLeft302") до
                                            input(id="mFilterLeft302", type="text", name="price", data-attr="до")
                                        span р.
                                each val, index in [{label: 'до 10 000 р.', from: 0, to: 10000}, {label: 'от 10 000 до 40 000 р.', from: 10000, to: 40000},{label: 'от 40 000 до 100 000 р.', from: 40000, to: 100000},{label: 'от 100 000 р.', from: 1000000, to: ''}]
                                    li.filter_item(data-attr="price")
                                        input(id="mFilterLeft3"+(index+1), type="checkbox", name="price", data-value-from=val.from, data-value-to=val.to, data-label=val.label)
                                        label(for="mFilterLeft3"+(index+1))=val.label
            //- .divider
            ul.m-filter_list
                li.m-filter_item.m-filter_item--sort
                    .name.toggle
                        a.js-toggle(href="#") Новые
                    .m-filter_list-wrap
                        .triangle
                        ul.filter_list
                            each val, index in ['Популярные', 'Подороже','Подешевле']
                                li.filter_item
                                    a(href="#")
                                        input(id="mFilterRight"+(index+1), type="radio", name="sort", value=val)
                                        label(for="mFilterRight"+(index+1))=val
        .m-filter_b
            ul.m-filter_list.selected
                each val, index in [{name: 'Силовику', class: ''}, {name: '23 февраля', class: ''}, {name: 'от 10 000 - до 40 000 р.', class: ''}]
                    - var id = index
                    li.m-filter_item.m-filter_item--selected(class=val.clas, data-tag="")
                        a.js-del-tag(href="#")
                            span=val.name
            //- a.m-filter_reset.js-del-all-tags(href="#") Сбросить фильтры
            <input class="btn btn-link m-filter_reset js-del-all-tags" type="button" id="del_filter" name="del_filter" value="Сбросить фильтры">
                