//- pagination
ul.pagination
    - var end=8
    - var n=0
    while n<4
        - n++
        li.pagination_item
            a.pagination_link(href="#")=n
    li.pagination_item ...
    li.pagination_item
        a.pagination_link.active(href="#")=end