//- ui components
mixin catItem(name, img)
    a(href="#", title=name).category
        .category_img
            img(src=img, alt="img")
        h4.category_title=name

mixin hash(name)
    a(href="#").hash #{name}

mixin asideMenuItem(name, iconClass)
    .aside-menu_item
        .name.toggle.js-toggle
            .icon-wrap
                img(src=iconClass, alt="")
            a(href="#", title=name)=name
        ul.list
            li.filled
                a(href="#") Для охоты
                ul
                    li
                        a(href="#") Наборы для пикника
                    li
                        a(href="#") Наборы для водки
                    li
                        a(href="#") Берестяной набор для коньяка
            li
                a(href="#") Для пикника
            li.filled
                a(href="#") С книгой
                ul
                    li
                        a(href="#") Наборы для пикника
                    li
                        a(href="#") Наборы для водки
                    li
                        a(href="#") Берестяной набор для коньяка
            li
                a(href="#") С алгкоголем
            li
                a(href="#") С сигарой