extends layout/index.pug
block breadcrumbs
    <div class="b-breadcrumbs print-detail">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb_item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumb_item breadcrumb_item-active">Каталог</li>
            </ul>
        </div>
    </div>
block content
    //- data
    - var catItems = [{title: 'Подарочные книги', img: 'assets/img/catalog/cat-1.png', class: 'assets/img/catalog/ICONS/Menu/menu_1.png'}, {title: 'Элитная посуда', img: 'assets/img/catalog/cat-2.png', class: 'assets/img/catalog/ICONS/Menu/menu_2.png'}, {title: 'Предметы интерьера', img: 'assets/img/catalog/cat-3.png', class: 'assets/img/catalog/ICONS/Menu/menu_3.png'}, {title: 'Авторское оружие', img: 'assets/img/catalog/cat-4.png', class: 'icon-menu_4'}, {title: 'Медали и ордена', img: 'assets/img/catalog/cat-5.png', class: 'icon-menu_5'}, {title: 'Настольные аксессуары', img: 'assets/img/catalog/cat-6.png', class: 'icon-menu_6'}, {title: 'Подарочные  наборы', img: 'assets/img/catalog/cat-7.png', class: 'icon-menu_7'}, {title: 'Настольные игры', img: 'assets/img/catalog/cat-8.png', class: 'icon-menu_8'}, {title: 'Гаджеты', img: 'assets/img/catalog/cat-9.png', class: 'icon-menu_9'}, {title: 'Антиквариат', img: 'assets/img/catalog/cat-10.png', class: 'icon-menu_10'}, {title: 'Религиозная  атрибутика', img: 'assets/img/catalog/cat-11.png', class: 'icon-menu_11'}, {title: 'Аксессуары и сувениры', img: 'assets/img/catalog/cat-12.png', class: 'icon-menu_12'}, {title: 'Ювелирные украшения', img: 'assets/img/catalog/cat-13.png', class: 'icon-menu_13'}, {title: 'Экономика и бизнес', img: 'assets/img/catalog/cat-14.png', class: 'icon-menu_14'}]

    - var gifts = [{title: 'Профессия', items: ['Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному' ], img: 'assets/img/catalog/gift-1.png'}, {title: 'Кому дарить', items: ['Подарки для мужчин', 'Подарки для женщин', 'Подарки инстранцам', 'Подарки любимым', 'Подарок фирме', 'Подарки для детей', 'Подарки для женщин', 'Подарки инстранцам', 'Подарки любимым', 'Подарок фирме'], img: 'assets/img/catalog/gift-2.png'}, {title: 'Праздник', items: ['Подарки ня юбилей', 'Подарки на свадьбу', 'Подарки на новоселье', 'Подарки на Новый год', 'Подраки на 23 февраля', 'Подарки на 8 марта', 'Подарки на свадьбу', 'Подарки на новоселье', 'Подарки на Новый год'], img: 'assets/img/catalog/gift-3.png'}]

    - var giftsItems = [{title: 'Профессия', items: ['Нефтянику', 'Железнодоржнику','Шахтеру','Президенту', 'Агроному' ],img: 'assets/img/catalog/gift-1.png'}, {title: 'Кому дарить', items: ['Подарки для мужчин', 'Подарки для женщин','Подарки инстранцам', 'Подарки любимым', 'Подарок фирме', 'Подарки для детей'], img:'assets/img/catalog/gift-2.png'}, {title: 'Праздник', items: ['Подарки ня юбилей', 'Подарки на свадьбу', 'Подаркина новоселье', 'Подарки на Новый год', 'Подраки на 23 февраля', 'Подарки на 8 марта'], img:'assets/img/catalog/gift-3.png'}]

    .main-cat
        section.main-cat_section
            .main-cat_main
                .container
                    .cat_title.cat_title--mobile Каталог
                    .cols
                        .cols_item.main-cat_aside
                            .aside-menu
                                .aside-menu_list
                                    each val in catItems
                                        +asideMenuItem(val.title, val.class)
                        .cols_item.main-cat_cat
                            .main-cat_banner
                                ul.main-cat_slider.js-main-cat_slider
                                    -var n = 1
                                    while n < 5
                                        - n++
                                        li.main-cat_slide
                                            a(href="#", style="background: url(assets/img/catalog/banner.png) center / 100% no-repeat", title="Что подарить нефтянику?")
                                                .text
                                                    p.text_title Что подарить нефтянику?
                                                    p Экспертная подборка от Darito
                                .preloader
                                    img(src="assets/img/catalog/ICONS/preloader.gif", alt="preloader.gif")
                            .cat
                                .cat_b.cat_heading
                                    h1.cat_title Каталог
                                    .cat_tags.cols
                                        each val, index in ['#Шахматы из слоновой кости', '#На юбилей', '#Златоуст', '#Изделия из золота', '#Шахматы', '#Подстаканники', '#Карманные часы', '#Религия', '#Фоторамки', '#Карманные часы', '#Религия', '#Фоторамки', '#Карманные часы', '#Религия', '#Фоторамки', '#Карманные часы', '#Религия', '#Фоторамки']
                                            if index
                                                .cat_tag
                                                    +hash(val)
                                            //- else
                                            //-     .cat_tag.hidden
                                            //-         +hash(val)
                                        .cat_tag.cat_tag--more.js-tag-more
                                            +hash('Показать еще')
                                .cat_b.cat_list
                                    .cols
                                        each val in catItems
                                            .cat_item
                                                +catItem(val.title, val.img)
        section.main-cat_section.main-cat_section--pg
            .container
                h3.s-title Подберите идеальный подарок
                .cat-gifts
                    .cols.cat-gifts_list
                        each val in gifts
                            .cols_item.cat-gifts_item
                                .img
                                    img(src=val.img, alt=val.title)
                                .body
                                    h6.title=val.title
                                    ul.list
                                        - for (var i = 0; i < val.items.length; i++) {
                                            li.list_item
                                                a(href="#")=val.items[i]
                                        - }
                                    a.more(href="#") Еще категории
        section.main-cat_section.main-cat_section--pg
            .container
                h3.s-title Новые поступления
                .receipts
                    .receipts_slider.js-receipts_slider
                        - var n = 1
                        while n<6
                            - n++
                            .receipts_item
                                include ../html/_card_item.html
        section.main-cat_section.main-cat_section--pg
            .container
                h3.s-title Услуги
                .cat-services
                    .cols.cat-services_list
                        - var srvc = ['Персонализация подарка', 'Переплет на заказ', 'Реставрация и ремонт книг', 'Формирование подарочных фондов', 'Библиотека под заказ', 'Презентация у вас в офисе']
                        each val, index in srvc
                            .cols_item
                                a(href="#", style="background: url(assets/img/catalog/cat-service-" + (index + 1) + ".png) center/100% 100% no-repeat").cat-services_item
                                    h4.title=val
                                    .overlay
block scripts
    script(src="assets/js/catalog.js")