extends layout/index.pug
//- <!--subcatalog-->
block breadcrumbs
    <div class="b-breadcrumbs print-detail">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb_item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumb_item">
                    <a href="#">Каталог</a>
                </li>
                <li class="breadcrumb_item breadcrumb_item-active">Часы, барометры</li>
            </ul>
        </div>
    </div>
block content
    //subcatalog
    .subdir.main-cat_main
        section.subdir_s
            .container
                .subdir_heading
                    h1.subdir_title.cat_title.cat_title--mobile Часы, барометры
                    a(href="#").return Вернуться назад
                .cols
                    .cols_item.main-cat_aside.subdir_aside
                        .aside-menu
                            .aside-menu_item.open
                                .name.toggle <!-- new-block</!-->
                                    .icon-wrap
                                        img(src="assets/img/catalog/ICONS/Menu/menu_1.png", alt="")
                                    a(href="#") Аксессуары и сувениры
                                ul.list
                                    li.filled
                                        a(href="#") Каминные часы 
                                            span.num (90)
                                        ul
                                            li
                                                a(href="#") Наборы для пикника
                                            li
                                                a(href="#") Наборы для водки
                                            li
                                                a(href="#") Берестяной набор для коньяка
                                    li
                                        a(href="#") Настольные часы 
                                            span.num (16)
                                    li
                                        a(href="#") Напольные часы 
                                            span.num (50)
                                    li
                                        a(href="#") Настенные часы 
                                            span.num (78)
                                    li
                                        a(href="#") Барометры и компасы 
                                            span.num (14)
                                    li
                                        a(href="#") Наручные, карманные часы 
                                            span.num (4)
                            //- form#asideFilter(action="/", method="get")
                            //-     .filter
                            //-         h6.filter_title Материал
                            //-         ul.filter_list
                            //-             each val, index in ['Серебро', 'Золото', 'Разные металлы', 'Дерево', 'Золото', 'Разные металлы', 'Дерево']
                            //-                 li.filter_item
                            //-                     input(id="asideFilter1"+(index+1), type="checkbox", name="")
                            //-                     label(for="asideFilter1"+(index+1))=val
                            //-         a(href="#", data-target="").link.link--more.js-show-more Показать еще 26
                            //-     .filter
                            //-         h6.filter_title Тип механизма
                            //-         ul.filter_list
                            //-             each val, index in ['Кварцевые', 'Механические', 'Хронометр', 'Механический хронограф', 'Механические', 'Хронометр', 'Механический хронограф']
                            //-                 li.filter_item
                            //-                     input(id="asideFilter2"+(index+1), type="checkbox", name="")
                            //-                     label(for="asideFilter2"+(index+1))=val
                            //-         a(href="#", data-target="").link.link--more.js-show-more Показать еще 26
                    .cols_item.main-cat_cat
                        .cat
                            .cat_b.cat_heading
                                include templates/filter-main
                            .cat_b.cat_list#catList
                                .cat_tags.cols
                                    each val, index in ['#Часы для руководителя', '#На юбилей', '#Роскошные', '#Строгие', '#Морские', '#На юбилей', '#Роскошные', '#Строгие', '#Морские']
                                        .cat_tag
                                            +hash(val)
                                    .cat_tag.cat_tag--more.js-tag-more
                                        +hash('Показать еще')
                                .cols
                                    - var n = 1
                                    while n<9
                                        - n++
                                        .cols_item
                                            include ../html/_card_item.html
                                .cat_pagination
                                    include templates/pagination
                                a(href="#").cat_more.js-cat-more
                                    span.text Показать еще
                                .preloader <!--new-block-->
                                    img(src="assets/img/catalog/ICONS/preloader.gif", alt="preloader.gif")
                                
    //END subcatalog
block scripts
    script(src="assets/js/catalog.js")
//- <!--END subcatalog-->