<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Каталог
        <link href="./bitrix/cache/css/s1/darito/kernel_main/kernel_main9d35.css?153022132331185" type="text/css"  rel="stylesheet" />
        <link href="./code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" type="text/css"  rel="stylesheet" />
        <link href="./cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"  rel="stylesheet" />
        <link href="./bitrix/cache/css/s1/darito/page_a74d4bc6414fb5811a70cdb1e98de85c/page_a74d4bc6414fb5811a70cdb1e98de85cec92.css?153015041119595" type="text/css"  rel="stylesheet" />
        <link href="./bitrix/cache/css/s1/darito/template_84eda252532151ac2bc16579e1919c5b/template_84eda252532151ac2bc16579e1919c5b4aa8.css?1530888320344908" type="text/css"  data-template-style="true"  rel="stylesheet" />
        <link href="./bitrix/themes/.default/public/tcsbank.kupivkredit/front9365.css?1497342642206" type="text/css"  data-template-style="true"  rel="stylesheet" />
        <link href="./bitrix/panel/main/popup.minb48f.css?148157435520704" type="text/css"  data-template-style="true"  rel="stylesheet" />
        <link rel="stylesheet" href="assets/libs/slick/slick.css">
        <link rel="stylesheet" href="assets/libs/slick/slick-theme.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/styles.css">
    body
        // main-catalog
        include ../templates/ui.pug
        .content.content-catalog
            include ../../html/_header.html
            block breadcrumbs
            block content
            include ../../html/_footer.html
        // end main-catalog
        <script type="text/javascript" src="bitrix/js/quetzal.retailrocket/jquery-1.9.1.min.js"></script>
        <script src="assets/libs/slick/slick.min.js"></script>
        //- <script src="assets/js/main.js"></script>
        block scripts

