/* aside */
.aside-menu {
    &_item {
        background-color: #f6f6f6;
        transition: 0.3s;

        &:not(:last-child) {
            margin-bottom: 2px;
        }

        a {
            @include truncate(100%);
            display: inline-block;
            vertical-align: middle;
            color: #49607b;
            font-family: 'Gilroy';
            font-size: 14px;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                color: #f8523b;
            }
        }

        li {
            position: relative;
        }

        ul {
            &:not(.list) {
                display: none;
                position: absolute;
                width: 100%;
                top: -1px;
                left: 100%;
                background-color: white;
                border: 1px solid #bababa;
                z-index: 3;
                padding: 15px 16px;

                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }

            li {
                &:hover {
                    >ul {
                        display: block;
                    }
                }

                &.filled {
                    position: relative;
                    padding-right: 30px;


                    &::after {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 6px;
                        height: 10px;
                        top: 18px;
                        right: 20px;
                        background: url(../img/catalog/arrow-point-to-right.png) center/contain no-repeat;
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }

                    &:hover {
                        &::after {
                            background: url(../img/catalog/arrow-point-to-right-hover.png) center/contain no-repeat;
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }

        .name {
            position: relative;
            padding: 15px 30px 15px 50px;
            cursor: pointer;
            border: 1px solid transparent;
            margin-bottom: -1px;
            transition: border 0.3s;

            .icon-wrap {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                img {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .toggle {

            &::after {
                position: absolute;
                content: '+';
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                text-align: center;
                color: #49607b;
                font-family: 'Gilroy';
                font-size: 21px;
                font-weight: 500;
            }
        }

        .list {
            display: none;

            >li {
                padding: 15px 16px;
                border: 0px solid transparent;
                margin-bottom: -1px;
                transition: border 0.3s;
            }
        }

        &.open {
            background-color: #fff;

            .toggle,
            .list>li {
                border: 1px solid #bababa;
            }

            .toggle {
                &::after {
                    content: '-';
                }
            }
        }
    }
}

/* end aside */