/* Styling cat */
.cat {
    &_b {
        padding: 25px 0;

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
    }

    &_heading {
        padding-top: 0;
        padding-bottom: 15px;
    }

    &_title {
        color: #343434;
        font-family: Georgia;
        font-size: 44px;
        font-weight: 400;
        margin-bottom: 25px;

        &--mobile {
            display: none;
        }
    }

    $tagsGutter: 10px;

    &_tags {
        &.cols {
            margin-left: $tagsGutter / - 2;
            margin-right: $tagsGutter / - 2;
        }
    }

    &_tag {
        padding-left: $tagsGutter / 2;
        padding-right: $tagsGutter / 2;
        margin-bottom: $tagsGutter;

        &--more {
            .hash {
                color: #59a6b9;
            }
        }
    }

    $listItemsGutter: 24px;
    $listColumns: 5;

    &_list {
        position: relative;
        .cols {
            margin-left: $listItemsGutter / - 2;
            margin-right: $listItemsGutter / - 2;
        }
        .preloader {
            height: 100%;
            img {
                top: 100px;
            }
        }
    }

    &_item {
        width: 100%;
        flex: 0 0 auto;
        max-width: 100% / $listColumns;
        padding-left: $listItemsGutter / 2;
        padding-right: $listItemsGutter / 2;
        margin-bottom: 50px;
    }

    &_pagination {
        margin-bottom: 36px;
    }

    &_more {
        display: block;
        color: #383f5a;
        font-family: 'Gilroy';
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        border: 1px solid #626262;
        border-radius: 4px;
        padding: 14px;

        &:hover {
            color: #383f5a;
            background-color: #ddd;
            border: 1px solid #626262;
            border-radius: 4px;
        }

        .text {
            position: relative;
        }

        &.load {
            .text {
                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    top: 0;
                    left: -30px;
                    width: 18px;
                    height: 18px;
                    background: url(../img/catalog/ICONS/loader-more.png) center/contain no-repeat;
                    animation-name: loader;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* END Styling cat */