// cat-sprite-icons
/* Styling  cat-sprite-icons*/
[class*='icon-'] {
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.icon-acsess {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.icon-books {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -72px -72px;
  width: 24px;
  height: 24px;
}
.icon-crown {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
}
.icon-elite_posuda {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
}
.icon-game {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
}
.icon-gift {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
}
.icon-jewerly {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
}
.icon-lights {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
}
.icon-m-menu-icon {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
}
.icon-medal {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
}
.icon-menu_1 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -96px -72px;
  width: 15px;
  height: 18px;
}
.icon-menu_10 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -21px -96px;
  width: 24px;
  height: 15px;
}
.icon-menu_11 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -96px 0px;
  width: 17px;
  height: 25px;
}
.icon-menu_12 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -45px -96px;
  width: 19px;
  height: 15px;
}
.icon-menu_13 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -113px -76px;
  width: 19px;
  height: 16px;
}
.icon-menu_14 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -113px -20px;
  width: 18px;
  height: 21px;
}
.icon-menu_2 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -113px 0px;
  width: 19px;
  height: 20px;
}
.icon-menu_3 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -96px -25px;
  width: 16px;
  height: 25px;
}
.icon-menu_4 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: 0px -96px;
  width: 21px;
  height: 18px;
}
.icon-menu_5 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -96px -50px;
  width: 13px;
  height: 22px;
}
.icon-menu_6 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -113px -41px;
  width: 19px;
  height: 19px;
}
.icon-menu_7 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -113px -60px;
  width: 19px;
  height: 16px;
}
.icon-menu_8 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: 0px -114px;
  width: 13px;
  height: 19px;
}
.icon-menu_9 {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -132px -22px;
  width: 12px;
  height: 22px;
}
.icon-mobile {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -132px 0px;
  width: 12px;
  height: 22px;
}
.icon-money {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -48px -72px;
  width: 24px;
  height: 24px;
}
.icon-pen {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -24px -72px;
  width: 24px;
  height: 24px;
}
.icon-relig {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: 0px -72px;
  width: 24px;
  height: 24px;
}
.icon-temple {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
}
.icon-vase {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
}
.icon-weapons {
  background-image: url(../img/catalog/cat-sprite.png);
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
}

/* END Styling  cat-sprite-icons*/
