/* Styling common */
.content {
    &-catalog {
        .b-breadcrumbs {
            margin-bottom: 20px;
        }
    }
}

.cols {
    display: flex;
    flex-wrap: wrap;

    &_item {
        position: relative;
        width: 100%;
        flex: 0 0 auto;
        max-width: 100%;
        min-height: 1px; // Prevent collapsing
    }
}

.form {

    &_row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

$mainCatGutter: 25px;

.main-cat {
    &_section {
        &:not(:last-child) {
            border-bottom: 1px solid #e8e8e8;
        }

        &--pg {
            padding: 45px 0;
        }

        .s-title {
            color: #343434;
            font-family: 'Gilroy';
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 40px;
        }
    }

    &_main {
        .cols {
            margin-left: $mainCatGutter / - 2;
            margin-right: $mainCatGutter / - 2;
        }
    }

    &_aside {
        max-width: (267px + $mainCatGutter);
        padding-left: $mainCatGutter / 2;
        padding-right: $mainCatGutter / 2;
    }

    &_cat {
        max-width: calc(100% - 292px);
        padding-left: $mainCatGutter / 2;
        padding-right: $mainCatGutter / 2;
    }

    &_banner {
        position: relative;
    }

    &_slider {
        display: none;
        margin: 0 -10px 15px;

        &.slick-initialized {
            display: block;
        }

        .slick-dots {
            bottom: 24px;

            li {
                width: 8px;
                height: 8px;
                background-color: #b6bcbf;
                border-radius: 50%;

                &.slick-active {
                    background-color: #97c6d2;
                }

                button {
                    display: none;
                }
            }
        }
    }

    &_slide {
        margin: 0 10px 10px;

        a {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 25.5%;
            transition: 0.3s;

            &:focus,
            &:active {
                outline: none;
            }

            &:hover {
                box-shadow: 0 3px 11.3px 1.7px rgba(0, 0, 0, 0.1);
            }
        }

        .text {
            position: absolute;
            top: 50%;
            left: 7%;
            transform: translate(0, -50%);
            color: #000000;
            font-family: 'Gilroy';
            font-size: 16px;
            font-weight: 400;

            &_title {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
    }
}

/* END Styling common */