/*gifts*/
.cat-gifts {
    &_list {
        justify-content: space-between;
    }

    &_item {
        max-width: 325px;

        a {
            font-family: 'Gilroy';
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
        }

        .more,
        .less {
            color: #49607b;
        }

        .img {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 126px;
            height: 126px;
            background-color: #f4f4f4;
            border-radius: 10px;

            img {
                position: absolute;
                max-width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .body {
            width: calc(98% - 126px);
            display: inline-block;
            vertical-align: top;
            padding-left: 30px;
        }

        .title {
            color: #000000;
            font-family: 'Gilroy';
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        .list {
            a {
                color: #59a6b9;
                transition: 0.3s;

                &:hover {
                    color: #f8523b;
                }
            }
        }
    }
}

/*end gifts*/