/* Styling m-filter */
a.m-filter_toggle {
    &:hover {
        color: #fff;
        border: 1px solid transparent;
    }

    &.active {
        color: #383f5a;
        background-color: #fff;
        border: 1px solid #626262;

        &::after {
            background: url(../img/catalog/ICONS/m-filter-icon-active.png) center/contain no-repeat;
        }
    }
}

.m-filter {
    &_toggle {
        position: relative;
        width: 100%;
        display: block;
        color: #fff;
        font-family: 'Gilroy';
        font-size: 16px;
        font-weight: 700;
        background-color: #59a6b9;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 15px 30px;

        &::after {
            position: absolute;
            content: '';
            width: 21px;
            height: 18px;
            top: 15px;
            right: 30px;
            background: url(../img/catalog/ICONS/m-filter-icon.png) center/contain no-repeat;
        }

        &.active {
            color: #383f5a;
            background-color: #fff;
            border: 1px solid #626262;

            &::after {
                background: url(../img/catalog/ICONS/m-filter-icon-active.png) center/contain no-repeat;
            }
        }
    }

    &_b {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 25px;

        &.toggle {
            display: none;
        }
    }

    &_list {
        flex: 0 1 auto;
        display: flex;
        flex-wrap: wrap;

        &-wrap {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 100;
            padding-top: 12px;
        }

        &.selected,
        &.tags {
            width: 100%;
            max-width: calc(100% - 200px);
        }
    }

    &_reset {
        @include truncate(150px);
        align-self: flex-start;
        display: block;
        color: #979797!important;
        font-family: 'Gilroy';
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
        background: url(../img/catalog/ICONS/bin.png) top right/contain no-repeat;
        background-size: 14px 15px;
        padding-right: 20px;
        padding-left: 0;
        transition: 0.3s;

        &:hover {
            color: #ff6847;
            background: url(../img/catalog/ICONS/bin-hover.png) top right/contain no-repeat;
        }
        &input[type=reset], &input[type=button], &input[type=submit], &a.btn, &.btn {
            @extend .m-filter_reset;
            &:hover {
                color: #ff6847!important;
                background: url(../img/catalog/ICONS/bin-hover.png) top right/contain no-repeat;
            }
        }
    }

    &_item {
        position: relative;

        &:not(:last-child) {
            border-right: 1px solid #ddd;
        }
        &:not(.m-filter_item--selected) {
            margin-bottom: 10px;
        }

        .name {
            background-color: #f4f4f4;
            border-radius: 2px;
            transition: 0.2s;

            a {
                @include truncate(100%);
                display: block;
                color: #343434;
                font-family: 'Gilroy';
                font-size: 14px;
                font-weight: 500;
                padding: 11px 17px;
            }
        }

        .toggle {
            a {
                position: relative;
                padding-right: 35px;

                &::after {
                    display: block;
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 6px;
                    top: 16px;
                    right: 16px;
                    background: url(../img/catalog/filter-arrow-drop.png) center/contain no-repeat;
                }
            }
        }

        .triangle {
            position: absolute;
            top: 0;
            left: 22px;
            width: 22px;
            height: 22px;
            overflow: hidden;
            z-index: 1;

            &::before {
                position: absolute;
                content: '';
                top: 6px;
                left: 0px;
                width: 100%;
                height: 100%;
                transform: rotate(45deg);
                background-color: #fff;
                box-shadow: 0 0 9px rgba(123, 123, 123, 0.32);
            }
        }

        ul {
            position: relative;
            max-width: 305px;
            max-height: 300px;
            background-color: #fff;
            box-shadow: 0 0 9px rgba(123, 123, 123, 0.32);
            padding: 25px 8px 10px;
            overflow: hidden;
            overflow-y: auto;

            li {
                label {
                    color: #343434;
                    font-family: 'Gilroy';
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .filter_item {
            display: block;
            margin-right: 7px;
            margin-left: 7px;
        }

        &--sort {
            .name {
                a {
                    color: #818181;
                }
            }

            .toggle {
                a {
                    width: 174px;

                    &::after {
                        width: 6px;
                        height: 14px;
                        top: 10px;
                        right: 13px;
                        background: url(../img/catalog/filter-sort.png) center/contain no-repeat;
                    }
                }
            }

            ul {
                width: 100%;
            }

            .filter_list {
                label {
                    padding: 0;

                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &--price {
            ul {
                width: 355px;
                max-width: none;
            }

            .form_row {
                margin: -5px;
                margin-right: -5px;

                input {
                    display: inline-block;
                    color: #828282;
                    font-family: 'Gilroy';
                    font-size: 14px;
                    font-weight: 400;
                    border: 1px solid #626262;
                    border-radius: 2px;
                    padding: 10px;
                    width: 100%;
                    max-width: 126px;
                }

                label {
                    padding-left: 0;
                }
            }

            .form_item {
                display: table;
                flex: 1 1 auto;
                max-width: 100%;
                margin-right: 20px;

                &:last-of-type {
                    margin-right: 10px;
                }

                label,
                input {
                    display: table-cell;
                }

                label {
                    padding-right: 3px;
                }
            }

            .filter_item {
                display: block;
            }
        }

        &--selected {
            margin-right: 20px;
            margin-bottom: 3px;
            overflow: hidden;

            &:not(:last-child) {
                border-right: none;
            }

            a {
                display: block;
                color: #343434;
                font-family: "Gilroy";
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                background: url(../img/catalog/ICONS/del_tag.png) top right 1px / contain no-repeat;
                padding-right: 20px;
                transition: 0.3s;

                &:hover {
                    color: #343434;
                    text-decoration: line-through;
                    background: url(../img/catalog/ICONS/del_tag-hover.png) top right 1px / contain no-repeat;

                    span {
                        text-decoration: line-through;
                    }
                }

                span {
                    @include truncate(100%);
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        &.open {
            .name {
                background-color: #ddd;
            }
        }
    }
}

/* END Styling m-filter */