/*media*/
@media screen and (max-width: 1024px) {
    .content-catalog {
        .container {
            padding-left: 25px;
            padding-right: 25px;
        }

        .breadcrumb {
            width: 100%;
        }
    }

    .main-cat {
        &_banner {
            display: none;
        }
    }

    .cat {
        &_item {
            max-width: 25%;
        }

        &-gifts {
            &_list {
                justify-content: flex-start;
            }

            &_item {
                margin-bottom: 35px;
            }
        }
    }

    $servicesItemGutter: 16px;
    $servicesItemCol: 2;

    .cat-services {
        &_list {
            margin-left: $servicesItemGutter / -2;
            margin-right: $servicesItemGutter / -2;

            .cols_item {
                max-width: (100% / $servicesItemCol);
                padding-left: $servicesItemGutter / 2;
                padding-right: $servicesItemGutter / 2;

                &:not(:nth-last-of-type(-1n + 2)) {
                    margin-bottom: $servicesItemGutter;
                }
            }
        }

        &_item {
            .title {
                font-size: 20px;
            }
        }
    }

    .subdir {

        &_aside,
        .main-cat_cat {
            max-width: none;
        }

        .cat_title--mobile {
            position: relative;
            display: block;
            color: #343434;
            font-family: Georgia;
            font-size: 28px;
            font-weight: 400;
            padding-left: 35px;

            &::before {
                position: absolute;
                content: '';
                width: 18px;
                height: 14px;
                top: 8px;
                left: 0px;
                background: url(../img/catalog/ICONS/Menu/m-menu-icon.png) center no-repeat;
                background-size: contain;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        overflow: hidden;
        overflow-y: auto;
    }

    .main-cat_main {
        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .cols {
            margin: 0;

            &_item {
                padding: 0;
            }
        }

        .cat_tags {
            margin-left: -5px;
            margin-right: -5px;
        }
    }

    .main-cat_aside,
    .main-cat_cat {
        max-width: none;
    }

    .cat_b:not(:last-child) {
        border: none;
    }

    .cat_list {
        display: none;
    }

    .cat-gifts_item {
        max-width: 50%;

        .img {
            width: 100px;
            height: 100px;
        }

        .body {
            width: calc(98% - 100px);
            padding-left: 20px;
        }
    }

    .cat {
        &_heading {
            padding-left: 25px;
            padding-right: 25px;
        }

        &_title {
            display: none;

            &--mobile {
                position: relative;
                display: block;
                color: #343434;
                font-family: Georgia;
                font-size: 28px;
                font-weight: 400;
                padding-left: 60px;

                &::before {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 14px;
                    top: 8px;
                    left: 25px;
                    background: url(../img/catalog/ICONS/Menu/m-menu-icon.png) center no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    .aside-menu {
        &_item {
            .name {
                padding: 15px 30px 15px 60px;

                .icon-wrap {
                    left: 25px;
                }
            }

            ul li:hover>ul {
                display: none;
            }

            .list {
                >li {
                    padding-left: 60px;
                }
            }

            ul {
                li {
                    &.filled {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .main-cat_aside {
        margin-bottom: 30px;
    }

    .main-cat_section--pg {
        padding: 25px 0;
    }

    .cat_pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 6px;
    }

    %pd25 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .subdir {
        .cat {
            &_b:not(:last-child) {
                border-bottom: 1px solid #ddd;
            }

            .cat_list {
                display: block;
                @extend %pd25;

                .cols:not(.cat_tags) {
                    justify-content: center;
                }

                .cols_item {
                    max-width: 290px;
                }
            }
        }

        &_heading {
            @extend %pd25;
        }

        .aside-menu_item .list>li {
            @extend %pd25;
            border-left: none;
            border-right: none;
        }

        .main-cat_aside {
            margin-bottom: 0;
        }

        .divider {
            display: none;
        }
    }

    .m-filter_b {
        @extend %pd25;
        margin-bottom: 20px;

        &.select {
            display: none;
            padding-left: 0;
            padding-right: 0;

            .m-filter_item {
                margin-bottom: 2px;
            }
        }

        &.toggle {
            display: block;
        }
    }

    .m-filter_item:not(.m-filter_item--selected),
    .m-filter_list:not(.selected) {
        width: 100%;
        flex: 1 1 auto;
        max-width: 100%;
    }

    .m-filter_item--sort .toggle a {
        width: 100%;
    }

    .m-filter_item--sort ul {
        li {
            width: 100%;
        }
    }

    .m-filter_list-wrap {
        width: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        padding-top: 0;
    }

    .m-filter_item .triangle {
        display: none;
    }

    .m-filter_item ul {
        max-width: none;
        box-shadow: none;
        margin-left: 10px;
    }

    .m-filter_item .name a {
        padding-left: 25px;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .m-filter_item .toggle a {
        &::after {
            top: 21px;
            right: 25px;
        }
    }

    .m-filter_item--sort .toggle a::after {
        top: 17px;
    }

    .m-filter_item.open {
        border-top: 1px solid #626262;
        border-bottom: 1px solid #626262;

        .name {
            background-color: #fff;
        }

        .toggle {
            a {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .main-cat_section {
        .s-title {
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 25px;
        }
    }

    .cat-gifts_item {
        max-width: none;

        &:last-child {
            margin-bottom: 0;
        }

        .body {
            padding-left: 10px;
        }

        .title {
            margin-bottom: 10px;
        }
    }

    $servicesItemGutter: 16px;

    .cat-services {
        &_list {
            .cols_item {
                max-width: none;

                &:not(:nth-last-of-type(-1n + 1)) {
                    margin-bottom: $servicesItemGutter;
                }
            }
        }

        &_item {
            .title {
                font-size: 16px;
                left: 15px;
                bottom: 15px;
            }
        }
    }

    .m-filter {
        &_b {
            justify-content: flex-start;
        }

        &_list {
            &.selected {
                max-width: none;
            }
        }
    }

    .subdir .cat .cat_list .cols_item {
        padding: 0;
    }
}
@media screen and (max-width: 480px) {
    .main-cat_section {
        .receipts_slider {
            padding: 0;
        }
    }
}
/*end media*/