/* Styling pagination */
.pagination {
    display: flex;
    align-items: baseline;

    &_item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &_link {
        display: block;
        color: #383f5a;
        font-family: 'Gilroy';
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        background-color: white;
        border: 1px solid #bababa;
        border-radius: 2px;
        padding: 5px 10px;

        &:hover {
            border: 1px solid #bababa;
        }

        &.active {
            color: #fff;
            background-color: #ff6847;
            border-radius: 2px;
            border: 1px solid #ff6847;

            &:hover {
                color: #fff;
                background-color: #ff6847;
                border-radius: 2px;
                border: 1px solid #ff6847;
            }
        }
    }
}

/* END Styling pagination */