/* Styling receipts */
.receipts {
    &_slider {
        padding: 0 70px;

        .slick-arrow {
            &::before {
                display: none;
            }
        }

        .slick-prev {
            left: 0;
            width: 19px;
            height: 36px;
            background: url(../img/catalog/ICONS/slider-arrow-l.png) center no-repeat;
        }
        .slick-next {
            right: 0;
            width: 19px;
            height: 36px;
            background: url(../img/catalog/ICONS/slider-arrow-r.png) center no-repeat;
        }
    }

    &_item {
        padding: 0 10px;
    }
}

/* END Styling receipts */