/* Styling services */
$servicesItemGutter: 24px;
$servicesItemCol: 3;

.cat-services {
    &_list {
        margin-left: $servicesItemGutter / -2;
        margin-right: $servicesItemGutter / -2;

        .cols_item {
            max-width: (100% / $servicesItemCol);
            padding-left: $servicesItemGutter / 2;
            padding-right: $servicesItemGutter / 2;
            &:not(:nth-last-of-type(-1n + 3)) {
                margin-bottom: $servicesItemGutter;
            }
        }
    }

    &_item {
        position: relative;
        display: block;
        border-radius: 4px;
        padding-top: 56%;
        overflow: hidden;
        transition: 0.3s;
        &:hover {
            box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.3);
        }

        .title {
            position: absolute;
            left: 30px;
            bottom: 30px;
            color: #ffffff;
            font-family: 'Gilroy';
            font-size: 20px;
            font-weight: 700;
            z-index: 2;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            opacity: 0.42;
            z-index: 1;
        }
    }
}

/* END Styling services */