/* Styling subdir */
.subdir {
    a {
        transition: 0.3s;

        &:hover {
            color: #ff6847;
        }
    }

    ul {
        list-style: none;
    }

    .return {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: #49607b;
        font-family: 'Gilroy';
        font-size: 14px;
        font-weight: 400;
        background: #f4f4f4 url(../img/catalog/arrow-point-to-right.png) top 8px left 19px no-repeat;
        border-radius: 3px;
        padding: 7px 16px 7px 36px;
        margin-bottom: 30px;

        &:hover,
        &:active {
            color: #49607b;
            background-color: #ddd;
        }
    }

    .divider {
        width: 100%;
        flex: 1 1 0%;
        max-width: 100%;
        height: 1px;
        background-color: #ddd;

        &--transp {
            background-color: transparent;
        }
    }

    &_title {
        display: block;
    }

    .filter {
        &_list {
            label {
                line-height: 16px;
                padding: 0 0 0 25px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #ff6847;
                }
            }

            input[type=checkbox]+label:before {
                width: 16px;
                height: 16px;
                border: 1px solid #626262;
                border-radius: 2px;
            }

            input[type=checkbox]+label:after {
                top: 4px;
                left: 3px;
                width: 0px;
                height: 8px;
                background: url(../img/catalog/checked.png) center/contain no-repeat;
                transition: ease-in 350ms;
            }

            input[type=checkbox]:checked+label:before {
                background-color: #ff6847;
                border-color: #ff6847;
            }

            input[type=checkbox]:checked+label:after {
                width: 10px;
            }
        }

        &_item {
            color: #383f5a;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 15px;

            input {
                display: none;
            }
        }

    }

    &_aside {
        .list {
            display: block;
            margin-bottom: 20px;

            .num {
                color: #59a6b9;
                transition: 0.3s;
            }

            a {
                &:hover {
                    .num {
                        color: #ff6847;
                    }
                }
            }
        }

        ul {
            list-style: none;
        }

        .filter {
            background-color: white;
            border: 1px solid #bababa;
            padding: 20px;

            &:not(:first-child) {
                margin-top: -1px;
            }

            .link {
                display: inline-block;
                color: #59a6b9;
                font-family: Arial;
                font-size: 14px;
                font-weight: 400;

                &--more {
                    margin-top: 15px;
                }
            }

            &_title {
                color: #343434;
                font-family: Arial;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 25px;
            }

            &_list {
                label {
                    line-height: 16px;
                    padding: 0 0 0 25px;
                    cursor: pointer;
                }

                input[type=checkbox]+label:before {
                    width: 16px;
                    height: 16px;
                    border: 1px solid #626262;
                    border-radius: 2px;
                }

                input[type=checkbox]+label:after {
                    top: 4px;
                    left: 3px;
                    width: 0px;
                    height: 8px;
                    background: url(../img/catalog/checked.png) center/contain no-repeat;
                    transition: ease-in 350ms;
                }

                input[type=checkbox]:checked+label:before {
                    background-color: #ff6847;
                    border-color: #ff6847;
                }

                input[type=checkbox]:checked+label:after {
                    width: 10px;
                }
            }

            &_item {
                display: none;
                color: #383f5a;
                font-family: Arial;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 15px;
                overflow: hidden;

                &:nth-of-type(-1n + 4) {
                    display: block;
                }
            }
        }
    }

    .cat {
        .cat_tags {
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: 30px;
        }

        &_heading {
            padding: 0;
        }

        .cat_list {
            .cols_item {
                width: 100%;
                flex: 1 1 auto;
                max-width: 33.33%;
                padding-left: 12px;
                padding-right: 12px;
                margin-bottom: 24px;
            }
        }

        &_more {
            &:hover {
                color: #383f5a;
            }
        }
    }
    .card_body {
        max-height: none;
    }
}

/* END Styling subdir */