// ui styling
.hash {
    display: inline-block;
    vertical-align: top;
    color: #49607b;
    font-family: 'Gilroy';
    font-size: rem(14px);
    font-weight: 400;
    line-height: 13px;
    transition: 0.3s;
    padding: 8px 5px;
    border: 1px solid #becad8;
    border-radius: 3px;

    &:hover {
        color: #ff6847;
        border: 1px solid #becad8;
        border-radius: 3px;
    }
}

.category {
    display: block;
    text-decoration: none;

    * {
        transition: 0.3s;
    }

    &_img {
        position: relative;
        background-color: #ededed;
        border-radius: 20px;
        overflow: hidden;
        padding-top: 100%;
        margin-bottom: 30px;

        img {
            position: absolute;
            max-width: 100%;
            top: 22%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }

    &_title {
        color: black;
        font-family: 'Gilroy';
        font-size: 16px;
        font-weight: 500;
    }

    &:hover {
        .category_title {
            color: #f8523b;
        }

        .category_img {
            box-shadow: 0 3px 10px rgba(74, 74, 74, 0.4);
        }
    }
}