@import "mixins";

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src: url("../Fonts/Radomir Tinkov - Gilroy-Regular.otf");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src: url("../Fonts/Radomir Tinkov - Gilroy-Bold.otf");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    src: url("../Fonts/Radomir Tinkov - Gilroy-Medium.otf");
}

html,
body {
    box-sizing: border-box;

    * {
        box-sizing: inherit;

        &::before,
        &::after {
            box-sizing: inherit;
        }
    }
}

.header a {

    &:hover {
        color: #ff6847;
    }
}
.preloader {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding-top: 25.5%;
    z-index: 10;

    img {
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@import "ui";
@import "cat-sprite";
@import "common";
@import "pagination";
@import "aside";
@import "cat";
@import "gifts";
@import "receipts";
@import "services";
@import "subdir";
@import "m-filter";

@import "media";